-- CreateEnum
CREATE TYPE "ReservationStatus" AS ENUM ('DRAFT', 'PENDING_PAYMENT', 'PAYMENT_RECEIVED', 'AWAITING_SIGNATURE', 'AWAITING_ADMIN_REVIEW', 'CONFIRMED', 'COMPLETED', 'CANCELLED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "PaymentStatus" AS ENUM ('NOT_STARTED', 'CHECKOUT_CREATED', 'PAID', 'FAILED', 'REFUNDED', 'PARTIALLY_REFUNDED');

-- CreateEnum
CREATE TYPE "DocuSealStatus" AS ENUM ('NOT_CREATED', 'SUBMISSION_CREATED', 'SENT', 'OPENED', 'COMPLETED', 'DECLINED', 'ERROR');

-- CreateEnum
CREATE TYPE "MachineStatus" AS ENUM ('ACTIVE', 'MAINTENANCE', 'BLOCKED', 'RETIRED');

-- CreateEnum
CREATE TYPE "DamageWaiverChoice" AS ENUM ('UNDECIDED', 'ACCEPTED', 'DECLINED');

-- CreateEnum
CREATE TYPE "DeliveryZone" AS ENUM ('CORE', 'EXTENDED', 'MANUAL_REVIEW');

-- CreateEnum
CREATE TYPE "InspectionType" AS ENUM ('OUTBOUND', 'RETURN');

-- CreateEnum
CREATE TYPE "UploadedBy" AS ENUM ('CUSTOMER', 'ADMIN');

-- CreateEnum
CREATE TYPE "WebhookProvider" AS ENUM ('STRIPE', 'DOCUSEAL');

-- CreateTable
CREATE TABLE "Reservation" (
    "id" TEXT NOT NULL,
    "publicId" TEXT NOT NULL,
    "status" "ReservationStatus" NOT NULL DEFAULT 'DRAFT',
    "packageId" TEXT,
    "machineId" TEXT,
    "weekendStartDate" TIMESTAMP(3) NOT NULL,
    "weekendEndDate" TIMESTAMP(3) NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "jobsiteStreet" TEXT NOT NULL,
    "jobsiteCity" TEXT NOT NULL,
    "jobsiteState" TEXT NOT NULL,
    "jobsiteZip" TEXT NOT NULL,
    "gateAccessNotes" TEXT,
    "surfaceAccessNotes" TEXT,
    "workDescription" TEXT,
    "isPropertyOwner" BOOLEAN,
    "ownerPermission" BOOLEAN,
    "deliveryZone" "DeliveryZone" NOT NULL DEFAULT 'MANUAL_REVIEW',
    "deliveryFeeCents" INTEGER NOT NULL DEFAULT 0,
    "extendedFeeCents" INTEGER NOT NULL DEFAULT 0,
    "colorado811Ticket" TEXT,
    "colorado811Date" TIMESTAMP(3),
    "checklistCompleted" BOOLEAN NOT NULL DEFAULT false,
    "checklistJson" JSONB,
    "damageWaiverChoice" "DamageWaiverChoice" NOT NULL DEFAULT 'UNDECIDED',
    "damageWaiverFeeCents" INTEGER NOT NULL DEFAULT 0,
    "rentalSubtotalCents" INTEGER NOT NULL DEFAULT 0,
    "taxCents" INTEGER NOT NULL DEFAULT 0,
    "depositCents" INTEGER NOT NULL DEFAULT 0,
    "totalDueCents" INTEGER NOT NULL DEFAULT 0,
    "stripeCheckoutSessionId" TEXT,
    "stripePaymentIntentId" TEXT,
    "paymentStatus" "PaymentStatus" NOT NULL DEFAULT 'NOT_STARTED',
    "docusealSubmissionId" TEXT,
    "docusealStatus" "DocuSealStatus" NOT NULL DEFAULT 'NOT_CREATED',
    "signedDocumentUrl" TEXT,
    "adminNotes" TEXT,
    "customerNotes" TEXT,
    "internalFlags" JSONB,
    "holdExpiresAt" TIMESTAMP(3),
    "confirmedAt" TIMESTAMP(3),
    "cancelledAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Reservation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RentalPackage" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "weekendPriceCents" INTEGER NOT NULL,
    "defaultDepositCents" INTEGER NOT NULL,
    "damageWaiverCents" INTEGER NOT NULL,
    "baseDeliveryCents" INTEGER NOT NULL,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "displayOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RentalPackage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Machine" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "unitNumber" TEXT NOT NULL,
    "serialNumber" TEXT,
    "status" "MachineStatus" NOT NULL DEFAULT 'ACTIVE',
    "description" TEXT,
    "hourMeter" DECIMAL(65,30),
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Machine_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MaintenanceBlock" (
    "id" TEXT NOT NULL,
    "machineId" TEXT,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "reason" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MaintenanceBlock_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AdminDateBlock" (
    "id" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "reason" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AdminDateBlock_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Inspection" (
    "id" TEXT NOT NULL,
    "reservationId" TEXT NOT NULL,
    "machineId" TEXT,
    "type" "InspectionType" NOT NULL,
    "hourMeter" DECIMAL(65,30),
    "fuelLevel" TEXT,
    "conditionJson" JSONB,
    "notes" TEXT,
    "signedByCustomer" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Inspection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SitePhoto" (
    "id" TEXT NOT NULL,
    "reservationId" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "caption" TEXT,
    "uploadedBy" "UploadedBy" NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SitePhoto_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TutorialVideo" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "category" TEXT NOT NULL,
    "videoUrl" TEXT NOT NULL,
    "thumbnailUrl" TEXT,
    "durationSeconds" INTEGER,
    "isPublic" BOOLEAN NOT NULL DEFAULT true,
    "displayOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TutorialVideo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FaqItem" (
    "id" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "question" TEXT NOT NULL,
    "answer" TEXT NOT NULL,
    "isPublic" BOOLEAN NOT NULL DEFAULT true,
    "displayOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "FaqItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ServiceArea" (
    "id" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "city" TEXT,
    "zip" TEXT,
    "zone" "DeliveryZone" NOT NULL,
    "baseFeeCents" INTEGER NOT NULL DEFAULT 0,
    "extendedFeeCents" INTEGER NOT NULL DEFAULT 0,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ServiceArea_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SiteSetting" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "value" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SiteSetting_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WebhookEvent" (
    "id" TEXT NOT NULL,
    "provider" "WebhookProvider" NOT NULL,
    "providerEventId" TEXT,
    "reservationId" TEXT,
    "eventType" TEXT NOT NULL,
    "payload" JSONB NOT NULL,
    "processedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "WebhookEvent_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Reservation_publicId_key" ON "Reservation"("publicId");

-- CreateIndex
CREATE INDEX "Reservation_weekendStartDate_status_idx" ON "Reservation"("weekendStartDate", "status");

-- CreateIndex
CREATE INDEX "Reservation_email_idx" ON "Reservation"("email");

-- CreateIndex
CREATE INDEX "Reservation_paymentStatus_idx" ON "Reservation"("paymentStatus");

-- CreateIndex
CREATE INDEX "Reservation_docusealStatus_idx" ON "Reservation"("docusealStatus");

-- CreateIndex
CREATE UNIQUE INDEX "RentalPackage_slug_key" ON "RentalPackage"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "Machine_unitNumber_key" ON "Machine"("unitNumber");

-- CreateIndex
CREATE UNIQUE INDEX "TutorialVideo_slug_key" ON "TutorialVideo"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "SiteSetting_key_key" ON "SiteSetting"("key");

-- CreateIndex
CREATE INDEX "WebhookEvent_provider_providerEventId_idx" ON "WebhookEvent"("provider", "providerEventId");

