DATABASE_URL="postgresql://tonka:tonka@localhost:5432/tonka"
SITE_URL="http://localhost:5173"
API_PORT="8787"
ADMIN_EMAILS="optimacycorp@gmail.com"

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_CURRENCY="usd"

DOCUSEAL_API_KEY=""
DOCUSEAL_BASE_URL="https://api.docuseal.com"
DOCUSEAL_TEMPLATE_ID_WEEKEND_RENTAL=""
DOCUSEAL_WEBHOOK_SECRET=""
DOCUSEAL_EMBEDDED_SIGNING="true"

EMAIL_PROVIDER="resend"
RESEND_API_KEY=""
FROM_EMAIL="reservations@tonkatimerentals.com"

GOOGLE_CALENDAR_ENABLED="false"
GOOGLE_CALENDAR_ID=""
GOOGLE_SERVICE_ACCOUNT_EMAIL=""
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=""

STORAGE_PROVIDER="local"
S3_ENDPOINT=""
S3_REGION=""
S3_BUCKET=""
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""

CORE_DELIVERY_FEE_CENTS="10000"
EXTENDED_DELIVERY_BASE_FEE_CENTS="15000"
EXTENDED_DELIVERY_PER_MILE_CENTS="300"
WEEKEND_PRICE_CENTS="59500"
DAMAGE_WAIVER_FEE_CENTS="7500"
DEPOSIT_CENTS="50000"
