HOST_URL=https://sign.tonkatimerentals.com
PUBLIC_URL=https://sign.tonkatimerentals.com
REACT_APP_SERVERURL=https://sign.tonkatimerentals.com/api/app
REACT_APP_APPID=opensign
APP_ID=opensign
appName=tonka_open_sign
MASTER_KEY=change_me_please
MONGODB_URI=mongodb://opensign-mongo:27017/opensign
PARSE_MOUNT=/app
SERVER_URL=https://sign.tonkatimerentals.com/api/app
USE_LOCAL=TRUE
SMTP_ENABLE=true
SMTP_HOST=
SMTP_PORT=
SMTP_USER_EMAIL=
SMTP_PASS=
PFX_BASE64=
PASS_PHRASE=
